@model IEnumerable<DAL.Models.Apartment>

@{
    ViewBag.Title = "Index";
}


<div class="container-fluid ">
    <div class="form-group">
        <label>Rooms</label>
        <input type="text" id="Room" name="Room" value="" />
    </div>
    <div class="form-group">
        <label>Adults</label>
        <input type="text" id="Adult" name="Adult" value="" />
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-10 ">
                <label>Children</label>
                <input type="text" id="Children" name="Children" value="" />
                <button type="submit" class="btn btn-primary">Go</button>
            </div>
            <div class="col-md-2">
                <div>
                    <label>Sort by</label>
                    <input type="text" id="Children" name="Children" value="" />
                </div>
            </div>
        </div>
    </div>
</div>

<hr />



@foreach (var apartmet in Model)
{

    if (apartmet.Price > 0)
    {



    <div class="content col-md-3"style="margin-bottom:60px; ">
        <div class="card mb-2 table-bordered " style="border-radius: 10%; padding: 5px">
            <h4 class="card-title text-left" style="margin:5px"> @apartmet.Name </h4>
            <hr />
            <div class="row">
                <div class="col-md-7">
                    <img src="https://www.apartmanija.hr/slike/apartments/Centar_Niko_21d4f3bc9976.jpg" class="img-fluid" style="border-radius: 5%" width="230" height="200">
                </div>
                <div class="col-md-5">
                    <ul>
                        <li>@apartmet.City</li>
                        <li>@apartmet.BeachDistance from beach</li>
                        <li>@apartmet.TotalRooms rooms</li>
                        <li>@apartmet.MaxAdults adults</li>
                        <li>@apartmet.MaxChildren children</li>

                    </ul>

                </div>


            </div>
            <div class="card-body " style="padding:10px">
                <div class="col-sm-8">
                    <span class="font-bold"><strong> @apartmet.Price $</strong></span>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-4">
                            @Html.ActionLink("Rezerviraj", "Details", new { id = apartmet.Id }, new { @class = "btn btn-primary rounded-3" })

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    }
}