@model IEnumerable<DAL.Models.Apartment>
@using DAL.Resources

@{
    ViewBag.Title = "Index";
    List<SelectListItem> itemsToSort = ViewBag.listToSort as List<SelectListItem>;
    List<SelectListItem> city = ViewBag.city as List<SelectListItem>;
    string room = "";
    string adult = "";
    string children = "";
    if (Request.Cookies["filter"].Values != null)
    {
        room = Request.Cookies["filter"]["room"];
        adult = Request.Cookies["filter"]["adult"];
        children = Request.Cookies["filter"]["children"];
    }
}
@if (TempData["AlertMsg"] != null)
{
    <div class="alert alert-success">
        @TempData["AlertMsg"]
    </div>
}

@if (TempData["Uspjesno"] != null)
{
<div class="alert alert-success">
    @TempData["Uspjesno"]
</div>
}
<div id="div">

</div>
@using (Html.BeginForm(null, null, FormMethod.Get, new { @id = "formFilter" }))
{

    <div class="container-fluid ">
        <div class="form-group col-sm-12">
            @Html.Label(expression: "Room", labelText: Language.Room)
            <input type="number" id="Room" name="Room" value="@room" />
        </div>
        <div class="form-group col-sm-12">
            @Html.Label(expression: "Adult", labelText: Language.Adults)
            <input type="number" id="Adult" name="Adult" value="@adult" />
        </div>


        <div class="form-group col-sm-12">
            @Html.Label(expression: "Children", labelText: Language.Children)
            <input type="number" id="Children" name="Children" value="@children" />
        </div>

        <div class="form-inline mb-2 form-group">
            <div class="col-sm-9">
                @Html.Label(expression: "city", labelText: Language.Destination, htmlAttributes: new { Style = "margin-right:10px" })
                @Html.DropDownList(name: "city", optionLabel: Language.Select, selectList: city, htmlAttributes: new { @class = "form-control", id = "city" })
                <button type="submit" id="btnGo" class="btn btn-primary">Go</button>

            </div>
            <div class="col-md-3">
                @Html.Label(expression: "sort", labelText: Language.Sort_By)
                @Html.DropDownList(name: "sort", optionLabel: Language.Select, selectList: itemsToSort, htmlAttributes: new { @class = "form-control", id = "sort" })


            </div>
        </div>

    </div>
    <hr />
}

@foreach (var apartmet in Model)
{

    <div class="col-md-3" style="margin-bottom:40px;height:280px;">
        <div class="card mb-2 table-bordered font-bold text-center" style="border-radius: 10%; padding: 5px;font-size:1.3em">

            <h4 class="card-title text-left" id="naslov" style="margin:5px;">
                @apartmet.Name


                @for (int i = 0; i < apartmet.AvgStars; i++)
                {
                    <span class="glyphicon glyphicon-star "></span>
                }
                @for (int i = apartmet.AvgStars; i < 5; i++)
                {
                    <span class="glyphicon glyphicon-star-empty"></span>
                }
            </h4>
            <hr />


            <div class="row">
                <div class="col-sm-7">
                    @foreach (var item in apartmet.apartmentPictures)
                    {
                        if (item.isRepresentative)
                        {
                            <img src="/Apartment/Picture?Path=@item.Path" alt="no-image" class="img-fluid" style="border-radius: 5%" width="250" height="170">

                        }
                    }

                </div>
                <div class="col-sm-5">
                    <ul>
                        <li>@apartmet.City</li>
                        <li>@apartmet.BeachDistance m @Language.From_Beach</li>
                        <li>@apartmet.TotalRooms @Language.Room</li>
                        <li>@apartmet.MaxAdults @Language.Adults.ToLower()</li>
                        <li>@apartmet.MaxChildren @Language.Childrens</li>

                    </ul>

                </div>
            </div>

            <div class="card-body " style="padding:10px">
                <div class="col-sm-8">
                    <span class="font-bold"><strong> @apartmet.Price $</strong></span>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-4">
                            @Html.ActionLink(Language.Reservation, "Details", new { id = apartmet.Id }, new { @class = "btn btn-primary rounded-3" })

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

}

@section scripts{
    <script>

        $(document).ready(function () {
            $("#sort").change(function () {
                $("#formFilter").submit();
            });
            $("#city").change(function () {
                $("#formFilter").submit();
            });
            var searchModel = {

                Room: $("#Room").val(),
                Children: $("#Children").val(),
                Adult: $("#Adult").val()

            };
            

            $.ajax({
                type: "GET",
                url: "/Apartment/Filter/",
                data: {search: searchModel},
                dataType: "html",
                success: function (data) {
          
                }
            })
            
        });



    </script>




}