<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet"
          href="/content/jquery.fancybox.css"
          type="text/css"
          media="screen" />
    
  
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="https://thumbs.dreamstime.com/b/building-apartments-logo-124916842.jpg" alt="A" width="50" style="padding-bottom:10px" height="40">
                </a>


                <a class="navbar-brand" href="@Url.Action("Index","Apartment")">@DAL.Resources.Language.Rwa_Apartments</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li style="margin-top:8px;">
                        <form class="form-inline">
                            <input class="form-control mr-sm-2" name="Search" type="search" placeholder="@DAL.Resources.Language.Search" aria-label="Search">
                            <button class="btn btn-success my-1 my-sm-0" style="margin-bottom:5px;" type="submit">@DAL.Resources.Language.Search</button>
                        </form>
                    </li>
                    <li>@Html.ActionLink(DAL.Resources.Language.Contact, "Contact", controllerName: "Apartment")</li>
                    <li>@Html.ActionLink(DAL.Resources.Language.About_Us, "AboutUs", controllerName: "Apartment")</li>
                    <li>
                        <div class="dropdown" style="margin-top:8px;">
                            <button class="btn bg-default dropdown-toggle" type="submit" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-globe"></span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <ul style="list-style-type:none">
                                    <li>@Html.ActionLink("English", "Language", "Account", new { language = "en" }, null)</li>
                                    <li>@Html.ActionLink("Croatian", "Language", "Account", new { language = "hr" }, null)</li>
                                </ul>
                            </div>
                        </div>
                    </li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (Session["username"] != null)
                    {
                        <li>
                            <div class="dropdown" style="margin-top:8px;">
                                <button class="btn bg-default dropdown-toggle" type="submit" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @Session["username"]
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <ul style="list-style-type:none">
                                        <li>@Html.ActionLink("Rezervacija", actionName: "UserReservation", controllerName: "Apartment", routeValues: new { id = Session["UserId"] }, htmlAttributes: null)</li>
                                    </ul>
                                </div>
                            </div>

                        </li>
                        <li>
                            @Html.ActionLink(DAL.Resources.Language.Logout, "Logout", "Account", null, htmlAttributes: new { @class = "btn" })
                        </li>
                    }
                    else
                    {

                        <li>@Html.ActionLink(DAL.Resources.Language.Login, "LogIn", controllerName: "Account")</li>
                        <li>@Html.ActionLink(DAL.Resources.Language.Registration, "Registration", controllerName: "Account")</li>
                    }
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="body-content">
        @RenderBody()
        <hr />

        <footer class="text-center navbar-fixed-bottom">
            <p class="text-white">&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript"
            src="/scripts/jquery.fancybox.pack.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
</html>
