@model DAL.Models.Apartment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Apartment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Guid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Guid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeletedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeletedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameEng)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameEng)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxAdults)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxAdults)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxChildren)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxChildren)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalRooms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalRooms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BeachDistance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeachDistance)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
